{% extends "base.html" %}

{% block body %}
<P>
    {% if pod_name is not none %}{{ pod_name }}{% else %}pod name not found{% endif %}<BR/>
    {% if pod_ns is not none %}{{ pod_ns }}{% else %}pod namespace not found{% endif %}<BR/>
    {% if pod_ip is not none %}{{ pod_ip }}{% else %}pod IP not found{% endif %}<BR/>
    {% if node_name is not none %}{{ node_name }}{% else %}node name not found{% endif %}<BR/>
</P>
{% endblock %}